#pager-teach-list {
  height: 100vh;
  width: 100vw;
}

.page-heder {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.page-header .top-bar-container {
  align-items: center;
  color: var(--color-text-in-primary);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.6rem 0;
  width: 90%;
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity .2s;
}

.page-header .top-bar-container a:hover {
  opacity: .6;
}

.page-header .top-bar-container > img {
  height: 1.6rem;
}

.page-header .heder-content {
  margin: 3.2rem auto;
  position: relative;
  width: 90%;
}

.page-header .heder-content srtong {
  color: var(--color-title-in-primary);
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
}
